/*HERO*/
#userTweetText {
  border-width: 0em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1em;
  margin-top: 2em;
  margin-right: 15em;
  width: 50vw;
}

#twiddler-icon {
  width: 2em;
  cursor: pointer;
  cursor: hand;
}

#twiddler-icon:hover {
  fill: #90e0ef;
}

.hero {
  position:fixed;
  top: 0px;
  padding-top: 1.5em;
  width:100%;
  z-index:100;
  background-color: #caf0f8;
}

#header-title {
  font-family: "Open sans", monospace;
  font-size: 3em;
  padding-bottom: none;
  cursor: pointer;
  cursor: hand;
}

#header-title:hover {
  color: #90e0ef;
}


/*BODY*/
#refresh-title {
  font-size: 1em;
}

#body {
  margin-top: 27em;
  background-color: #caf0f8;
  font-family: "Open sans", monospace;
  font-size: .75em;
  padding-left: 8em;
  padding-right: 8em;
}

.tweets {
  background-color: white;
  font-weight: '400';
  border: 1px;
  margin-top: 8px;
  padding-top: 8px;
  padding-left: 1em;
  padding-right: 2em;
  padding-bottom: 10px;
  border-bottom: 4px solid #90e0ef;
  cursor: pointer;
  cursor: hand;
}

.tweets:hover {
  background-color: #ecf7f9;
}


/*BUTTONS*/
.button {
  background-color: black;
  color: white;
  font-family: "Courier New", monospace;
  cursor: pointer;
  cursor: hand;
  border: none;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  margin-bottom: 1em;
  margin-top: 1em;
}

.button:hover {
  background-color: #90e0ef;
  color: black;
}




